body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2b2b; /* خلفية داكنة مع لمسة فينتج */
    color: #d9c8a5; /* لون النص الفاتح */
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #c3b299; /* لون فينتج داكن */
    margin: 20px 0; /* إضافة مسافة من الأعلى والأسفل */
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 120px 0;
    background-color: #453f3c;
}
nav ul li {
    display: inline-block; /* استخدام inline-block للتجاوب */
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #f0e4d7; /* لون الروابط */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6e6259; /* لون داكن للروابط */
}
nav ul li a:hover {
    background-color: #877e72; /* لون داكن عند التمرير */
}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* للسماح للصورة باللف حول الصف */
    margin-top: 50px; /* تقليل المسافة العلوية */
}
.image-container img {
    margin: 10px; /* إضافة مسافة متساوية بين الصور */
    border: 5px solid #202020; /* حدود الصور بلون فينتج */
    border-radius: 20px;
    max-width: 100%; /* لجعل الصور متجاوبة */
    height: auto;    /* للحفاظ على نسبة العرض إلى الارتفاع */
}
p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6; /* جعل ارتفاع السطر أكثر اتساقًا */
    margin: 20px; /* إضافة مسافة حول النص */
}

/* تحسينات الهاتف */
@media (max-width: 600px) {
    h1 {
        font-size: 24px; /* تقليل حجم الخط */
    }
    nav ul li {
        display: block; /* جعل العناصر في عمود */
        margin: 10px 0; /* مسافة بين العناصر */
    }
    p {
        font-size: 16px; /* تقليل حجم الخط */
    }
}
